$color-white: white;
$color-black: black;
$color-liteblack: rgb(28, 26, 26);
$color-darkgreen: rgb(12, 49, 12);
$color-darkgrey: rgb(54, 52, 52);
$color-darkred: rgba(86, 13, 13, 0.828);

%jc-space-between{
  display: flex;
  justify-content: space-between;
}

.stopwatchPhoneWrapper{
  position: relative;
  width: 400px;
  height: 770px;
  margin: 0 auto;
  padding: 0 25px;
  border: 15px solid $color-black;
  border-radius: 50px;
  background-color: $color-liteblack;
  font-size: 0;
}

// .stopwatchPhoneWrapper ::before{
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 25%;
//   width: 200px;
//   height: 20px;
//   border-radius: 0px 0px 25px 25px ;
//   background-color: $color-black;
// }

// .stopwatchPhoneWrapper ::after{
//   content: '';
//   position: absolute;
//   top: 7px;
//   left: 170px;
//   width: 50px;
//   height: 5px;
//   margin: 0 auto;
//   border-radius: 5px;
//   background-color: $color-liteblack;
// }


.stopwatchPhoneBrow{
  width: 200px;
  height: 20px;
  margin: -1px auto 150px;
  border-radius: 0px 0px 25px 25px ;
  background-color: $color-black;
}

.stopwatchPhoneBrowStrip{
  width: 50px;
  height: 5px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: $color-liteblack;
}

.stopwatchTime{
  margin-top: 150px;
  padding-bottom: 75px;
  text-align: center;
  font-size: 75px;
  font-weight: 300;
  color: $color-white;
}